<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServletJSP2017Week02</display-name>

	<servlet>
		<servlet-name>MyConfigServlet</servlet-name>
		<servlet-class>_04.servletconfig.ConfigServlet</servlet-class>
		
		<init-param>
			<param-name>username</param-name>
			<param-value>admin</param-value>
		</init-param>
		
		<init-param>
			<param-name>password</param-name>
			<param-value>123456</param-value>
		</init-param>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyConfigServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<description>file location root path parameter</description>
		<param-name>rootPath</param-name>
		<param-value>/user/levent</param-value>
	</context-param>


</web-app>